/* General Page Style */
body{

   font-family: Arial, sans-serif; 
   background: linear-gradient(black, gray)  
   no-repeat center center fixed;
   
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(gtb1.jpg);
    background-size: cover;
    padding: 20px 30px; 
    font-size: 30px; 
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

nav {

    gap: 25px;
    font-size: 16px;
    text-align: right;
    padding: 26px ;
    
}

nav a {

    color: rgb(252, 252, 252);
    text-decoration: none;
    margin: 20px;
}

nav a:hover {

    color: #706e6e;
}


main {

    width: 80%;
    max-width: 800px;
    margin: auto;
}


.article1 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(g2s.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

.article2 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(g3s.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

.article3 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(g4s.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

.article4 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(gtpng.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

.article1b1 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(gta1.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

.article1c1 {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(gtac1.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
    margin-bottom: 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
}

footer {

    background-color: #181717;
    color: rgb(255, 249, 249);
    text-align: center;
    margin-top: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
}
